.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity $main-transition-duration $main-transition-function,
    visibility $main-transition-duration $main-transition-function;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  .modal {
    transform: translate(-50%, -50%) scale(0.5);
  }
}
