.button {
  @extend %button;
  padding: 10px;
  min-width: 200px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: $secondary-text-size;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: $main-color-light;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color $main-transition-duration $main-transition-function;

  &:hover,
  &:focus {
    background-color: $hover-accent-color;
  }
}
