.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.container--headerContent {
  display: flex;
  align-items: center;
  padding: 24px 0 25px;
}

.container--heroContent {
  text-align: center;
}

.container--clientContent {
  text-align: center;
}

.container--footerContent {
  display: flex;
}
