.section {
  padding: 94px 0;
}

.section--hero {
  margin: 0 auto;
  padding: 200px 0;
  max-width: 1600px;
  min-height: 600px;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/studio/background-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section--features {
  padding-bottom: 47px;
  text-align: center;
}

.section--services {
  padding-top: 47px;
  text-align: center;
}

.section--team {
  text-align: center;
  background-color: $background-color-light;
}

.section--collection {
  text-align: center;
}
