.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}

.title--hero {
  @extend %header;
  margin: 0 auto 30px;
  max-width: 610px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: $main-color-light;
}

.title--section {
  @extend %header;
  @extend .title;
}
