.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color);

  &--footer {
    margin-right: 0;
    margin-bottom: 20px;
    padding: 0;
    color: var(--main-color-light);
  }

  &__accent {
    color: var(--accent-color);
  }
}
