.footer {
  padding: 60px 0;
  background-color: $background-color-dark;
}

.footer__container {
  margin-top: 12px;
}

.footer__container--adress {
  margin-right: 70px;
}

.footer__container--social {
  @extend .footer__container;
}

.footer__container--subscription {
  @extend .footer__container;
  margin-left: auto;
}

.footer__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: $main-text-size;
  line-height: 1.14;
  letter-spacing: $main-text-letter-spacing;
  color: $main-color-light;
}

.footer__form {
  display: flex;
  align-items: center;
}

.footer__input {
  @extend %input;
  margin-right: 12px;
  width: 358px;
  padding: 14px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: $secondary-text-size;
  line-height: 1.25;
  color: $main-color-light;
  background-color: transparent;

  &:focus {
    border-color: $main-color-light;
  }

  &::placeholder {
    color: $secondary-color-transp;
  }
}
