.section {
  padding: 94px 0;
}

.section--features {
  padding-bottom: 47px;
  text-align: center;
}

.section--services {
  padding-top: 47px;
  text-align: center;
}

.section--team {
  text-align: center;
  background-color: var(--background-color-light);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.list {
  list-style: none;
}

.link {
  font-size: inherit;
  text-decoration: none;
  color: var(--main-color-dark);
}

.button-base {
  font-family: inherit;
  cursor: pointer;
  color: var(--main-color-dark);
}
