$main-color-dark: #212121;
$main-color-light: #ffffff;
$secondary-color-dark: #000000;
$secondary-color-light: #757575;
$secondary-color-transp: rgba(255, 255, 255, 0.6);
$accent-color: #2196f3;
$hover-accent-color: #188ce8;
$background-color-dark: #2f303a;
$background-color-light: #f5f4fa;
