%text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: $main-text-size;
  letter-spacing: $main-text-letter-spacing;
  color: $main-color-dark;
}

%header {
  @extend %text;
  margin: 0;
  padding: 0;
}

%paragraph {
  @extend %text;
  margin: 0;
  padding: 0;
}

%link {
  @extend %text;
  text-decoration: none;
}

%button {
  @extend %text;
  cursor: pointer;
}

%image {
  display: block;
}

%list {
  margin: 0;
  padding: 0;
  list-style: none;
}
